
#resume {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 850px;
  height: 1100px;
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  border: 2px solid black;
  line-height: 1.5em;
}

#personalInfo {
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

h3 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1.15em;
  padding: .20em;
  text-decoration: underline;
}

h4 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1.15em;
  padding: .25em;
  text-indent: 2.75em;
}

p {
  font-size: .9em;
  text-indent: 3.5em;
}

li {
  font-size: .9em;
  list-style-position: inside;
  text-indent: 3.5em;
  width: 50em;
}






