body {
  font-family: 'Helvetica', serif;
}

header {
  height: 0;
  font-family: 'Helvetica', serif;
  text-shadow: 1px 1px 1px rgba(64, 65, 66, 0.5);
  font-weight: 400;
  width: 100%;
}

#header-nav {
  background-color: rgb(24, 23, 23);
  display: inline-block;
  height: 100px;
  width: 100%;
}

#logo {
  height: auto;
  left: 100px;
  position: absolute;
  top: 10px;
  width: 200px;
}

#header-nav ul {
  position: relative;
  text-align: center;
  right: 10%;
  top: 45%;
}

#header-nav ul li {
  display: inline-block;
  margin-left: 75px;
  font-size: 16px;
}

#header-nav ul li:hover {
  opacity: 0.5;
}

#header-nav li a {
  color: white;
  text-decoration: none;
}

body {
  background-color: rgba(233, 241, 247, 0.466);
  background-image:
  linear-gradient(
    rgba(79, 103, 116, 0.7),
    rgba(89, 110, 128, 0.7)
  ),
  url("../img/tech interview.jpg");
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
}

iframe {
  margin-left: 210px;
  border: 1px solid;
  padding: 13px;
  position: relative;
  border: 1px groove black;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  top: 17em;
}

#clear-save-buttons {
  padding-bottom: 5px;
}

#clear-save-buttons button {
  background-color: #00d9f1;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 1px  #006d79;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#clear-save-buttons button:hover {
  color:white;
  background: #98dae0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: gray;
}


#submitBtn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00d9f1;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 1px  #006d79;
  font-size: 14px;
}

#submitBtn:hover {
  color:white;
  background: #98dae0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: gray;
}


#header-nav {
  background-color: rgb(24, 23, 23);
  display: inline-block;
  height: 100px;
  width: 100%;
}

#logo {
  height: auto;
  left: 100px;
  position: absolute;
  top: 10px;
  width: 200px;
}

#resume {
  border-radius: 10px;
}

#sectionTabs {
  position: fixed;
  right: 10;
  top: 50%;
  width: 10em;
  color:white;
}

#sectionTabs ul {
  position: fixed;
  font-size: 16px;
  position: relative;
  top: 5px;
  text-align: center;
  color:white;
  font-weight: 400;
  vertical-align: middle;
}

#sectionTabs ul li {
  color:white;
  background: #00d9f1;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: gray;
  cursor: pointer;
  padding-top: 1.2em;
  text-shadow: 1px 1px 1px  #006d79;
  width: 10em;
  height: 2em;
}

#sectionTabs ul li:hover {
  color:white;
  background: #98dae0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: gray;
}

#personalInfo {
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

h3 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1em;
  padding: .05em;
  text-decoration: underline;
}

h4 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1em;
  padding: .05em;
  text-indent: 3.5em;
}

p {
  font-size: .9em;
  text-indent: 3.5em;
}



label.info {
  position: relative;
  /*this is the key*/
  z-index: 24;
  /* background-color:#ccc;
  color:#000; */
  text-decoration: none
}

label.info:hover {
  z-index: 25;
  /* background-color:#ff0; */
}

label.info span {
  display: none;
}

label.info:hover span {
  /*the span will display just on :hover state*/
  display: block;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 15em;
  border: 1px solid #0cf;
  background-color: #cff;
  color: #000;
  text-align: center
}

label {
  font-weight: 100px;
}

fieldset {
  background: rgba(141, 153, 158, 0.8);
  position: absolute;
  height: 80px;
  top:130px;
  left: 0;
  right:0;
  display: block;
  margin-left: 125px;
  margin-right: 125px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 60px;
  padding-right: 60px;

  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 10px;
  height:6em;
  border: 1px groove black;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color:white;
}

input {
  display: inline;
  margin: .5em;
  padding: .5em;
}

.tab {
  padding: .25em;
}

.tab:hover {
  color: #0cf;
}

hr {
  margin: 0;
}

.bigwrapper {
  position: relative;
  margin-top:0;
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.editPencil {
  padding-left: 10px;
}

#personalInfo:hover {
  border: 2px solid red;
}

#statement:hover {
  border: 2px solid red;
}

#technicalSkills:hover {
  border: 2px solid red;
}

#projects:hover {
  border: 2px solid red;
}

#education:hover {
  border: 2px solid red;
}

#experience:hover {
  border: 2px solid red;
}

#statementText {
  width: 1000px;
}
