* {
  font-family: 'Helvetica', 'sans-serif';
}
header {
  margin-bottom: -200px;
  opacity: 0.6;
}

body {
  background-color: rgba(233, 241, 247, 0.466);
}

iframe {
  margin-left: 210px;
  border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

#buttons {
  position:relative;
  width: 20%;
  margin-bottom:20px;
  left:80%;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button {
 
}

main {
  font-family: Helvetica;
}

#header-nav {
  background-color: rgb(24, 23, 23);
  display: inline-block;
  height: 100px;
  width: 100%;
}

/* #persInfoForm{
  margin-bottom:20px;
} */

#logo {
  height: auto;
  left: 100px;
  position: absolute;
  top: 10px;
  width: 200px;
}

#header-nav ul {
  position: relative;
  text-align: center;
  right: 150px;
  top: 40px;
}

#header-nav ul li {
  display: inline-block;
  margin-left: 75px;
}

#header-nav li a {
  color: white;
  text-decoration: none;
}

#resume {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0 auto;
  width: 850px;
  height: 1100px;
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  /* border: 2px solid black; */
  line-height: 1.5em;
}

iframe {
  margin-left: 200px;
  border: 1px solid #bec5c7;
  box-shadow: 0px 0px 15px rgb(230, 242, 242);
}

#clear-save-buttons {
  position:relative;
  margin-bottom:20px;
  left: 85%;
}

#clear-save-buttons button {
  background-color: #00d9f1;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-s
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 80px;
}

#sectionTabs {
  height: 250px;
  right: 10;
  position: relative;
  top: 500px;
  width: 175px;
}

#sectionTabs ul {
  background: rgb(247, 247, 247);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 10px rgb(194, 194, 194);
  font-size: 18px;
  position: relative;
  top: 5px;
}

#sectionTabs ul li {
  /* background-color: rgb(58, 129, 221); */
  border-width: 2px 2px 1px 2px;
  border-style: solid;
  color: rgb(68, 67, 67);
  cursor: pointer;
  padding: 8px;
  width: 155px;
}

#infoTab {
  background-color: rgba(255, 45, 115, 0.3);
  border-color: rgb(255, 45, 115, 0.5);
  border-top-right-radius: 10px;
}

#techTab {
  background-color: rgba(35, 182, 250, 0.3);
  border-color: rgb(35, 182, 250, 0.5);
}

#projTab {
  background-color: rgba(247, 172, 44, 0.3);
  border-color: rgb(247, 172, 44, 0.5);
}

#edTab {
  background-color: rgba(70, 140, 63, 0.3);
  border-color: rgb(70, 140, 63, 0.5);
}

#expTab {
  background-color: rgba(46, 27, 215, 0.3);
  border-color: rgb(46, 27, 215, 0.5);
  border-bottom-right-radius: 10px;
}

#sectionTabs ul li:hover {
  margin-left: 5px;
  opacity: 1px;
}

#personalInfo {
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

h3 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1em;
  padding: .05em;
  text-decoration: underline;
}

h4 {
  font-size: 1.10em;
  font-weight: bold;
  line-height: 1em;
  padding: .05em;
  text-indent: 3.5em;
}

p {
  font-size: .9em;
  text-indent: 3.5em;
}

label.info {
  position: relative;
  /*this is the key*/
  z-index: 24;
  /* background-color:#ccc;
  color:#000; */
  text-decoration: none
}

label.info:hover {
  z-index: 25;
  /* background-color:#ff0; */
}

label.info span {
  display: none;
}

label.info:hover span {
  /*the span will display just on :hover state*/
  display: block;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 15em;
  border: 1px solid #0cf;
  background-color: #cff;
  color: #000;
  text-align: center
}

fieldset {
  display: block;
  margin-left: 125px;
  margin-right: 125px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 60px;
  padding-right: 60px;
  border: 2px groove black;
  text-align: center;
}

input {
  display: inline;
  margin: .5em;
  padding: .5em;
}

.tab {
  padding: .25em;
}

.tab:hover {
  color: #0cf;
}

#editField1 {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
}

.bigwrapper {
  position: relative;
  margin-top:0;
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.editPencil {
  padding-left: 10px;
}

#personalInfo:hover {
  border: 2px solid red;
}

#statement:hover {
  border: 2px solid red;
}

#technicalSkills:hover {
  border: 2px solid red;
}

#projects:hover {
  border: 2px solid red;
}

#education:hover {
  border: 2px solid red;
}

#experience:hover {
  border: 2px solid red;
}

/* .fieldSet .editPencil {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

.fieldSet:hover .editPencil {
  visibility: visible;
}

.fieldSet .delete {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

.fieldSet:hover .delete {
  visibility: visible;
} */