* {
  box-sizing: border-box;
}
body {
  margin-top: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.45;
  background-image: url(https://pixabay.com/get/eb32b00b21f2073ed1534705fb0938c9bd22ffd41cb3134291f4c870a1/vintage-2714966_1920.jpg);
  font-size: 16px;
  color: #fff;
